{% extends 'main.html' %}
{% block content %}

    <div class="header-bar">
        <div>
            <h1>Hello {{ request.user|title }}</h1>
            <h3 style="margin: 0">You have <i>{{ count }}</i> incomplete task{{ count|pluralize }}</h3>
        </div>
     {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}"> Logout </a>
    {% else %}
        <p>{{ request.user }}</p>
        <a href="{% url 'login' %}"> Login </a>
    {% endif %}

    </div>
    <hr>
    <h1>
        My To Do List
    </h1>
    <a href="{% url 'task create' %}">Add task </a>

    <form method="GET">
        <input type="text" name="search-area" value="{{ search_input }}">
        <input type="submit" value="Search">
    </form>




    <h2>Item</h2>
    <th></th>
    <th></th>

    <table>
        {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>   ***********   </td>
                <td><a href="{% url 'task update' task.pk %}">Update</a></td>
                <td><a href="{% url 'task delete' task.pk %}">Delete</a></td>
            </tr>
        {% empty %}
            <h3>
                No items in list
            </h3>
        {% endfor %}

    </table>
{% endblock %}
