{% extends 'base.html' %}
{% block content %}


    <!-- Add this to your HTML template -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <hr>
    <h1>Create employee</h1>


    <form method="POST" action="{% url 'create employee' %}">
        {% csrf_token %}
        {{ employee_form.as_p }}
        <button>Save</button>
    </form>


     <script>
        // Activate datepicker on the date_of_birth field
        $(document).ready(function() {
            $('#id_date_of_birth').datepicker({
                dateFormat: 'yy-mm-dd', // Set the date format
                changeYear: true, // Allow changing the year
                changeMonth: true, // Allow changing the month
                yearRange: '1900:2022', // Set the range of selectable years
            });
        });
    </script>



{% endblock %}