{% extends "base.html" %}

{% block content %}


    <section id="detailsPage">
        <div class="wrapper">
            <div class="profileText">
                <!-- Delete Profile Form -->
                <h1>Are you sure you want to delete your profile?</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <!-- Confirm Button -->
                    <button class="delete-profile" type="submit">Delete</button>
                </form>
            </div>
        </div>
        <!-- End Delete Profile Form -->
    </section>

{% endblock %}