{% extends 'base.html' %}
{% block page_content %}
    <!-- Catalog with Albums-->
    <section id="catalogPage">
        <!--  If No albums in catalog -->
        {% if albums %}
            <!-- If albums in catalog -->
            <h1>All Albums</h1>
            <!-- From Form Card-Box in catalog -->
            {% for al in albums %}
                <div class="card-box">
                    <img src="{{ al.image_url }}">
                    <div>
                        <div class="text-center">
                            <p class="name">Name: {{ al.album_name }} </p>
                            <p class="artist">Artist: {{ al.artist }}</p>
                            <p class="genre">Genre: {{ al.genre }}</p>
                            <p class="price">Price: ${{ al.price }}</p>
                        </div>
                        <div class="btn-group">
                            <a href="{% url 'album details' al.pk %}">Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No Albums in Catalog!</p>
        {% endif %}
    </section>
{% endblock %}