{% extends 'base.html' %}
{% block page_content %}
    <h1 class="text-center">Create Your Profile</h1>
    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form method="POST" action="{% url 'create profile' %}">

                    <!-- Form for Creating a Profile -->

                    {% csrf_token %}
                    {{ profile_form }}

                    <button class="btn btn-primary mt-2" type="submit">Create</button>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>

    <!-- Page Footer -->
    <footer class="fixed-bottom card-footer ">
        <div>@2022 Python Web Basics Workshop at SoftUni</div>
    </footer>
    <!-- End Page Footer -->
{% endblock %}
