{% extends 'base/base.html' %}
{% load departments_tags %}


{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    {% csrf_token %}
</div>

<h1>List of all departments</h1>
<ul>
    {% for dept in departments %}
        <li>
            {{ dept.name }}
            
        <ul>
            {% for emp in dept.employee_set.all %}
                <li>
                {{ emp.first_name }}
                
                </li>
            {% endfor %}
        </ul>
        
        </li>
    {% endfor %}


<hr>

    {% for emp in employees %}
        <li>
            {{ emp.first_name }} ({{ emp.department.name }})
            
        </li>
    {% endfor %}
</ul>
<ul>
    <hr>
</ul>

{% departmentss_list %}
</body>
</html>
{% endblock %}